
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hakkımızda</h2>
<br/>
<p>Bu site bir proje çalışmasıdır. Sitede var olan ürünler gerçek değildir. Site Asp.Net Teknolojisi'nin MVC Pattern'i ile inşa edilmiştir.</p> <br/>
<h4>Bülent Demir</h4>
<h5>2. Sınıf Bilgisayar Mühendisliği Öğrencisi</h5>